<?xml version="1.0"?>
<model>
  <name>camera_station</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Mini Project Team</name>
    <email>student@example.com</email>
  </author>
  <description>Static camera station with ROS camera plugin.</description>
</model>
